*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
/APTRouterModule/APTAnnotation/build
/APTRouterModule/APTProcessor/build
/APTRouterModule/APTRouterApp/build
/BuildSrcApp/build
/buildSrc/build
/PluginModule/PluginApp/build
/PluginModule/RouterPlugin/build

